html {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h3, p {
    color: black;
}

h1 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.9rem;
}

p {
    font-size: 1.6rem;
}

#container {
    background-color: rgb(7, 209, 76, 80%);
    border: 3px solid #000000;
    border-radius: 10%;
    box-shadow: 10px 10px 10px 10px black;
    color: white;
    height: 95vh;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}